Repository json-schema-org/json-schema-spec, pull requests merged in 2018-12, with the labels that each got.

#686 More guidance on initial base URI
  jsonschema-core.xml
Labels: Priority: Medium, Type: Maintenance, core

#685 Add a bit about conditional links
  jsonschema-hyperschema.xml
Labels: Priority: Medium, Type: Maintenance, hypermedia

#684 Allow "schema" media type parameter for schemas
  jsonschema-core.xml
Labels: Priority: Medium, Type: Enhancement, core

#671 "$vocabulary" and basic vocabulary support.
  applicator.json
  core.json
  jsonschema-core.xml
  schema.json
Labels: Priority: High, Status: Review Needed, Type: Enhancement, core, vocabulary

#691 Fixed some minor spelling errors
  jsonschema-core.xml
Labels: Type: Bug

#679 Output Formatting
  jsonschema-core.xml
  schema-output.json
  standardized-output-verbose.json
Labels: Priority: High, Type: Enhancement, core, output

#696 "headerSchema" should use array values
  jsonschema-hyperschema.xml
Labels: Priority: Medium, Type: Maintenance, hypermedia
