Repository json-schema-org/json-schema-spec, pull requests merged in 2018-06, with the labels that each got.

#599 Update regex concerns for subschema application
  jsonschema-core.xml
  jsonschema-validation.xml
Labels: Status: Review Needed, Type: Maintenance, core, validation

#603 Fix spacing typos
  jsonschema-core.xml
Labels: Type: Bug, core

#595 Create an Applicators section, group into a Keyword Behaviors section
  jsonschema-core.xml
Labels: Status: Review Needed, Type: Maintenance, core

#600 Keywords can depend on subschema or adjacent keyword annotation results
  jsonschema-core.xml
Labels: Priority: High, Type: Enhancement, annotation, core

#622 Trivial: Split Keyword Behaviors in to better subsections
  jsonschema-core.xml
Labels: Type: Maintenance, core

#624 Fix Link header examples in hyper-schema
  jsonschema-hyperschema.xml
Labels: Type: Bug, hypermedia

#619 Fix propertyNames meta-schema (curent master)
  hyper-schema.json
  schema.json
Labels: Type: Bug, validation

#621 DRAFT-06 Fix propertyNames and contains meta-schema
  hyper-schema.json
  schema.json
Labels: Type: Bug, validation

#604 Allow RFC 4648 encodings for "contentEncoding"
  jsonschema-validation.xml
Labels: Priority: Medium, Status: Review Needed, Type: Enhancement, annotation, validation

#606 Clarify $comment and annotations
  jsonschema-core.xml
Labels: Type: Maintenance, annotation, core

#609 Explain referenced/referring schemas
  jsonschema-core.xml
Labels: Type: Maintenance, core

#611 Fix default usage in meta-schemas
  links.json
  schema.json
Labels: Type: Maintenance, core, hypermedia

#628 Ref is delegation - try 3
  jsonschema-core.xml
Labels: Type: Enhancement, core
