Repository json-schema-org/json-schema-spec, pull requests merged in 2019-08, with the labels that each got.

#767 Make the "content*" keywords annotations only
  jsonschema-validation.xml
Labels: Type: Maintenance, annotation

#769 Clarify annotation collection with applicators
  jsonschema-core.xml
  jsonschema-validation.xml
Labels: Type: Enhancement, annotation, core

#772 Restructure vocabulary-related sections
  jsonschema-core.xml
Labels: Type: Maintenance, core, vocabulary

#764 Specify "format" requirements in vocabulary terms
  hyper-schema.json
  jsonschema-validation.xml
  schema.json
Labels: Type: Enhancement, format

#776 Consolidate keyword behavior sections
  jsonschema-core.xml
Labels: Type: Maintenance, core

#771 Example of assertion independence per awwright
  jsonschema-core.xml
Labels: Type: Maintenance, core, validation

#775 Give ECMA 262 reference section for RegExp dialect.
  jsonschema-core.xml
Labels: Type: Maintenance, core

#777 Wrap the entire core vocabulary inside the core vocab section.
  jsonschema-core.xml
Labels: Type: Maintenance, core, vocabulary

#781 Vocab explanation improvements from gregsdennis
  jsonschema-core.xml
Labels: Type: Maintenance, core

#785 Fix verbose example to use `$defs`
  output/verbose-example.json
Labels: Type: Bug, output

#782 Improve vocab example per gregsdennis suggestions
  jsonschema-core.xml
Labels: Type: Maintenance, core, vocabulary

#783 Clarify the nature of schema placeholder keywords
  jsonschema-core.xml
  jsonschema-validation.xml
Labels: Type: Maintenance, core

#794 Fix $comment paragraphs
  jsonschema-core.xml
Labels: Type: Bug, core
