Repository json-schema-org/json-schema-spec, pull requests merged in 2020-07, with the labels that each got.

#914 $schema can change across embedded resources
  jsonschema-core.xml
Labels: Status: Blocked, core

#926 Rel JSON Ptr forward/backward index manipulation
  relative-json-pointer.xml
Labels: Type: Enhancement

#932 Shorten long section heading.
  jsonschema-core.xml
Labels: Type: Maintenance, annotation

#930 Rename $recursive* to $dynamic*, make it work with normal anchors / plain name fragments instead of base URI switching
  hyper-schema.json
  jsonschema-core.xml
  links.json
  meta/applicator.json
  meta/content.json
  meta/core.json
  meta/format.json
  meta/hyper-schema.json
  meta/meta-data.json
  meta/validation.json
  schema.json
Labels: Type: Enhancement, core

#940 output schema fixes
  output/schema.json
Labels: output
